{% extends "_layouts/default.njk" %}

{% block body %}
<div class='content'>
  <strong>Olá, {{ user.name }}</strong>
  <p>Seus agendamentos para hoje:</p>
  <ul class='providers'>
    {% for appointment in appointments %}
      <li class='provider'>
        <div>
          <img src='/files/{{appointment.User.avatar}}' />
          <strong>{{ appointment.User.name }}</strong>
        </div>
      </li>
    {% endfor %}
  </ul>
  <a href='/app/logout' class='logout'>Sair</a>
</div>
{% endblock %}
